# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# Android
.gradle/
local.properties
**/android/**/captures/
.externalNativeBuild
.cxx

# iOS/macOS
**/Pods/
**/DerivedData/

# Misc
.DS_Store
*.log